#txt-Input {
    width: 70%;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    height: 10vh;
  }
  
  #btn-Translate {
    margin: 2rem auto;
    display: block;
  }
  
  #output {
    border: 1px solid black;
    margin: 2rem auto;
    width: 70%;
    height: 10vh;
    display: block;
    padding: 1rem;
  }